version: '3.8'

services:
  mysql:
    build:
      context: ./docker
      dockerfile: Dockerfile
      target: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: dw_courses
    ports:
      - "3307:3306"  # Mapeando a porta 3307 do host para a porta 3306 do container
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/init/mysql:/docker-entrypoint-initdb.d

  postgresql:
    build:
      context: ./docker
      dockerfile: Dockerfile
      target: postgresql
    container_name: postgresql
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: courses
    ports:
      - "5435:5432"  # Mapeando a porta 5435 do host para a porta 5435 do container
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./docker/init/postgresql:/docker-entrypoint-initdb.d

  python-scripts:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: python-scripts
    container_name: python-scripts
    volumes:
      - ./scripts:/scripts
      - ./data:/data
    depends_on:
      - mysql
      - postgresql
    entrypoint: ["/scripts/entrypoint.sh"]

volumes:
  mysql_data:
  postgresql_data: